<script>

$(document).ready(function() {
    $('#table1').DataTable();
} );

</script>


<h1>at_bats</h1>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>


<table id="table1" class="table table-bordered table-striped">
  <thead>
    <tr>
		<th>game_id</th>
		<th>at_bat_id</th>
		<th>inning</th>
		<th>player_id</th>
		<th>balls_and_strikes</th>
		<th>balls</th>
		<th>strikes</th>
		<th>current_pitch_call</th>
		<th>scorecard</th>
		<th>hit_location</th>
		<th>current_pitcher</th>
		<th>json</json>
    </tr>
  </thead>
  <tbody>
    <% if @at_bats.size == 0 %>
      <tr>
        <td colspan="6">No at_bats found.</td>
      </tr>
    <% else %>
      <% @at_bats.each do |at_bat| %>
        <tr>
			<td><%= at_bat.game_id %></td>
			<td><%= at_bat.at_bat_id %></td>
			<td><%= at_bat.inning %></td>
			<td><%= at_bat.player_id %></td>
			<td><%= at_bat.balls_and_strikes %></td>
			<td><%= at_bat.balls %></td>
			<td><%= at_bat.strikes %></td>
			<td><%= at_bat.current_pitch_call %></td>
			<td><%= at_bat.scorecard %></td>
			<td><%= at_bat.hit_location %></td>
			<td><%= at_bat.current_pitcher %></td>
			<td><%= at_bat.to_json %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>